interactions:
- request:
    body: '{"access_role":null,"disabled":false,"email":"test@khulnasoft.com","handle":"test@khulnasoft.com","name":"test
      user"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.khulnasoft.com/api/v1/user
  response:
    body:
      string: '{"user":{"handle":"test@khulnasoft.com","name":"test user","role":null,"title":null,"email":"test@khulnasoft.com","disabled":true,"access_role":null,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/f979f58720feb88e09cc3d11ce3d15da?s=48&d=retro","verified":false}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.khulnasoft.com/api/v1/user/test%40khulnasoft.com
  response:
    body:
      string: '{"errors":["User is already disabled"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
